{% extends "base.html" %}
{% block title %}Register System{% endblock %}

{% block content %}
<script>
	function redirect(){
		setTimeout(function(){window.location.href ='../login';}, 5000);
	}
{{script}}
</script>
<div class="container">
	<div class="row vh-100 justify-content-center align-items-center">
<form action="" method="post">
	<div class="form-group">
	{% if message  %}
    <label role="alert">
       <p style="color:red">{{ message }}</p>
    </label>
{% endif %}
	</div>
	<div class="form-group">
		<img src="static/img/vision_espania.png" class="img-thumbnail" alt="Simalga" width="304" height="236"> 
		</div>
    <div class="form-group">
        <label for="Fullname">Full name</label>
        <input name="nombre" class="form-control" id="inputFullName" aria-describedby="emailHelp" placeholder="Enter name">
        <small id="fullName" class="form-text text-muted">Please enter your name</small>
  </div>
  <div class="form-group">
        <label for="InputEmail">Email address</label>
        <input name="email" class="form-control" id="InputEmail"  placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
        <label for="Role">Role</label>
        <select name="role" class="form-control" id="role" disabled>
			<option value="Admin">Admin</option>
			<option value="Manager">Manager</option>
			<option value="User" selected>User</option>
		</select>
  </div>
  <div class="form-group">
    <label for="InputPassword">Password</label>
    <input type="password" name="password1" class="form-control" id="InputPassword" placeholder="Password">
  </div>

    <div class="form-group">
    <label for="InputPassword2">Repeat Password</label>
    <input type="password" name="password2" class="form-control" id="InputPassword2" placeholder="Repeat Password">

    </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
  <a href="forget"><small>¿No recuerdas tu contraseña?</small></a>
  <p><small>¿No estás registrado? <a href="register"> Registrate aquí</a></small></p>

</form>
</div>
</div>
{% endblock %}

